{{! This is a partial handlebar for creating an event. }}

<div class = "add-event-button-container">
		<button id="add-event-button"><i class="material-icons">note_add</i></button>
		</div>


		<div id="modal-backdrop" class="hidden"></div>
		<div id="add-event-modal" class="hidden">
			<div class="modal-dialog">
				<div class="modal-header">
					<h3>Create an Event</h3>
					<button type="button" class="modal-close-button">&times;</button>
				</div>

				<div class ="modal-body">
					<div class="event-input">
						<label for="event-input-date">Date</label>
						<input type="text" id="event-input-date">
					</div>
					<div class ="event-input">
						<label for="event-input-event">Event</label>
						<input type="text" id="event-input-event">
					</div>
				</div>

				<div class="modal-footer">
				<button type="button" id="modal-accept-button">Add an event</button>
				</div>
			</div>
		</div>

		<article class ="footer">
			<a href="#"><h1 class="footer-title"><i class="material-icons">assignment</i></i> Planit</h1></a>
			<li class="footer-content">
				<ul><a class= "footer-list" href="#">© 2017 Planit</a></ul>
				<ul><a class= "footer-list" href="#">About</a></ul>
				<ul><a class= "footer-list" href="#">Contact Us</a></ul>
			</li>

		</article>
