
<article class ="event">
	<div class="event-content">
		<p class="event-date">
			{{date}}
		</p>
		<p class="event-text">
			{{text}}
		</p>
	</div>
	<button class = "delete-button"><i class="material-icons">close</i></button>

</article>

			
