
<article class ="event">
	<div class="event-content">
		<p class="event-date">
			{{date}}
		</p>
		<p class="event-text">
			{{event}}
		</p>
	</div>
	<button class = "delete-button">X</button>

</article>

			
