body{
	font-family: Lato, Helvetica, sans-serif;
	margin: 0;
	background-image: url(http://www.zastavki.com/pictures/1920x1200/2011/Space_Space_planets_027475_.jpg);

}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: 100;
  background-color: black;
  color: white;
  text-align: center;

}




/*NAV BAR*****************************************************/

nav{
   background-color: transparent;
	padding: 1px 0px;


}

.navitem{
	position: fixed;
	left:0px;

	color: white;
	cursor: pointer;
   font-size: 20px;
	padding-bottom: 10px;
	border: none;
   outline: none;
   background-color: inherit;

}
.navitem:hover{
	color:#6AE368;
}

.navbar-search{
	position: fixed;
	right:0px;

}

.dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
}

.dropdown-content {
    display: none; /*This must be used with .show to toggle the display on and off!*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.Month{
	 border: none;
    outline: none;
	 background-color: inherit;
	 font-size: 20px;

}
.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}






/*Main Container*****************************************************/
.event-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.event {
  flex: 0 1 25%;
  width: 80%;
  height: 100px;
  display: flex;
  margin: 10px;
  padding: 20px;

  border-radius: 25px;
  background-color: white;
  opacity: 0.8;
}

.event-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.event-date{
	font-size: 32px;
	font-weight: bold;
}

.event-text{
	font-size: 20px;

}
.delete-button{
	height: 40px;
	width: 40px;
	font-size: 20px;

}


/*Modal*****************************************************/
#add-event-button{
	font-size: 30px;
	color: white;
	position: fixed;
	background-color: transparent;
	border-color: white;

	bottom: 30px;
	left: 45%;
	width: 200px;
	height: 80px;
	border-radius: 25px;

}


#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-event-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: -10px;
  font-size: 50px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}


.event-input {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.event-input label {
  font-weight: 600;
  flex: 1 50px;
  padding-left: 30px;
}

.event-input input,
.event-input textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}


.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #6AE368;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}



.hidden {
  display: none;
}
.hide{
	display: none;
}
